@font-face{font-family:"Montserrat";font-weight:800;font-style:normal;font-display:block;src:url("fonts/montserrat-latin-800-normal.woff2") format("woff2")}
@font-face{font-family:"Montserrat";font-weight:500;font-style:normal;font-display:block;src:url("fonts/montserrat-latin-500-normal.woff2") format("woff2")}
@font-face{font-family:"Montserrat";font-weight:700;font-style:normal;font-display:block;src:url("fonts/montserrat-latin-700-normal.woff2") format("woff2")}
